@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

.mainHeading {
  font-family: "DynaPuff";
  position: absolute;
  top: 20%;
  left: 30%;
  color: blue;
}

.inputMain {
  position: absolute;
  top: 30%;
  left: 33%;
}

.btn2 {
  position: absolute;
  top: 35%;
}

.items {
  position: absolute;
  top: 50%;
  left: 40%;
}
